.home
{
    display: grid;
    height: 30vh;
    width: 40vw;
    margin: 2vh;
    box-shadow: 0 0 10px;
    overflow: hidden;
    grid-template-columns: 1fr 1.2fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    background-color: white;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
}